In [1]:
import pandas as pd

In [2]:
file_path = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# counts = len(purchase_data["SN"].drop_duplicates())

In [4]:
#Use groupby method on SN
sn_grouped = purchase_data.groupby(['SN'])

In [5]:
#Determine the count of total purchases made by each user
snp_count = sn_grouped["SN"].count()
snp_count #this gives me the count, now how do I filter to locate...
#...the highest number of purchases?

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: SN, Length: 576, dtype: int64

In [6]:
sn_avg = sn_grouped["Price"].mean()
sn_avg

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [7]:
sn_total = sn_grouped["Price"].sum()
sn_total

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [28]:
#Place all of the data found into a summary DataFrame
data7 = {
    'Purchase Count': snp_count,
    'Average Purchase Price': sn_avg,
    'Total Purchase Value': sn_total}

summary_df7 = pd.DataFrame(data7)
summary_df7.sort_values(by="Total Purchase Value", inplace=True, ascending=False)
summary_df7.head()

#Apply formatting
summary_df7['Average Purchase Price'] = summary_df7['Average Purchase Price'].map('${:.2f}'.format)
summary_df7['Total Purchase Value'] = summary_df7['Total Purchase Value'].map('${:,.2f}'.format)

summary_df7.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10