In [1]:
import pandas as pd

In [2]:
file_path = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Create the bins in which age data will be held
bins2 = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 200]
groups = ["<10", "10-14",  "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [4]:
# Place the data series into a new column inside of the DataFrame
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins=bins2, labels=groups)

In [5]:
# Create a GroupBy object based upon "View Group"
purch_age = purchase_data.groupby("Age")

In [6]:
#Find the average price per person and clean duplicates
total_value = purchase_data.drop_duplicates(subset='SN', keep='first')
group3 = total_value.groupby(["Age"])

avg_ppp3 = pd.DataFrame(purch_age["Price"].sum() / group3["Age"].count())
avg_ppp3.head()

            0
Age
7    4.698571
8    4.328333
9    4.567500
10   4.547143
11   3.131667

In [7]:
# Purchase count by age analysis
age_counts = purch_age[["Age"]].count()
age_counts.head()

     Age
Age
7      9
8      8
9      6
10     9
11     7

In [8]:
# Get the average of each column within the GroupBy object
avg_pprice = purch_age[["Price"]].mean()
avg_pprice.head()

        Price
Age
7    3.654444
8    3.246250
9    3.045000
10   3.536667
11   2.684286

In [9]:
# Get the total purchase value of each column within the GroupBy object
total_pvalue = purch_age[["Price"]].sum()
total_pvalue.head()

     Price
Age
7    32.89
8    25.97
9    18.27
10   31.83
11   18.79

In [10]:
#Display the summary in a data frame and format
dict_sum1 = {
    'Purchase Count': age_counts,
    'Average Purchase Price': avg_pprice,
    'Total Purchase Value': total_pvalue,
    'Avg Total Purchase per Person': avg_ppp3}
summary_df5 = pd.DataFrame(dict_sum1, index=[0])
summary_df5.head()

TypeError: 'int' object is not iterable