In [1]:
import pandas as pd

In [2]:
file_path = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Part 1: Review data per column to determine if clean up is needed and display the count of total number of players

In [3]:
#Identify any incomplete rows
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [4]:
#Review datatypes 
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [5]:
#Use pd.to_nuermic() method to convert the datatype of the Price column
purchase_data['Price'] = pd.to_numeric(purchase_data['Price'])

In [6]:
#Verify that datatype change to Price column worked
purchase_data['Price'].dtype

dtype('float64')

In [7]:
#Display any unique values and count for screen name column
purchase_data.loc[:, 'SN'].value_counts()

Lisosia93        5
Iral74           4
Idastidru52      4
Lisim78          3
Silaera56        3
                ..
Seolollo93       1
Aiduesu86        1
Lassassasda30    1
Frichjask31      1
Peorith44        1
Name: SN, Length: 576, dtype: int64

In [8]:
counts = len(purchase_data["SN"].drop_duplicates())
counts_df = pd.DataFrame({'Total Players':[counts]})
counts_df

   Total Players
0            576

Part 2 - Purchasing Analysis (Total): Run basic calculations to obtain the number of unique items, averge purchase price, total number of purchases, and total revenue. 
    Create a summary data frame to hold the results and display the summary data frame with clean formatting.

In [9]:
#Calculate the number of unique Items in the DataFrame
un_items = len(purchase_data["Item ID"].unique())

In [10]:
#Calculate the average purchase price
avg_price = purchase_data["Price"].mean()

In [11]:
#Calculate the total number of purchases
purchase_total = len(purchase_data["Purchase ID"].unique())

In [12]:
#Calculate the total revenue
total_sum = purchase_data["Price"].sum()

In [13]:
#Place all of the data found into a summary DataFrame
data = {
    'Number of Unique Items': [un_items],
    'Average Price': [avg_price],
    'Number of Purchases': [purchase_total],
    'Total Revenue': [total_sum]
}

summary1 = pd.DataFrame(data)
summary1
format_dict = {'Average Price':'${0:,.2f}', 'Total Revenue': '${:,.2f}'}
summary1.style.format(format_dict)

Part 3 - Gender Demographics: Determine the percentage and count of male players, female player, and of Other/Non-Disclosed

In [14]:
#Remove any duplicate screen names as before
count_m = purchase_data.drop_duplicates(subset = "SN", keep="first")

In [15]:
#Determine total count of males
total_m = len(count_m.loc[purchase_data["Gender"] == "Male"])

In [16]:
#Determine percentage of male players
total_m_p = (total_m / counts)*100

In [17]:
#Determine total count of females
total_f = len(count_m.loc[purchase_data["Gender"] == "Female"])

In [18]:
#Determine percentage of female players
total_f_p = (total_f / counts)*100

In [19]:
#Determine total count of Other/Non-Disclosed
total_o = len(count_m.loc[purchase_data["Gender"] == "Other / Non-Disclosed"])

In [20]:
#Determine percentage of Other/Non-Disclosed players
total_o_p = (total_o / counts)*100

In [21]:
#Place all of the gender demographics into a summary DataFrame

gendem = pd.DataFrame(columns=['Total Count', 'Percentage of Players'],
                                  index = ['Male', 'Female', 'Other/Non-disclosed'])
gendem.loc['Male'] = pd.Series({
    'Total Count': total_m,
    'Percentage of Players': total_m_p})
gendem.loc['Female'] = pd.Series({
    'Total Count': total_f,
    'Percentage of Players': total_f_p,})
gendem.loc['Other/Non-disclosed'] = pd.Series({
    'Total Count': total_o,
    'Percentage of Players': total_o_p,})

format2 = {'Total Count': '{:,.0f}', 'Percentage of Players': '{:,.2f}%'}
gendem.style.format(format2)

Part 4 - Purchasing Analysis (Gender): Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person, etc. by gender. Create a clean and formatted summary data frame to hold the results. MUST USE GROUPBY METHOD (GENDER).

In [22]:
#For purchase analysis, must use groupby method
grouped_df = purchase_data.groupby(['Gender'])

In [23]:
#Determine data calculations with groupby method
count = grouped_df["SN"].count()

In [24]:
price = grouped_df["Price"].mean()

In [25]:
total = grouped_df["Price"].sum()

In [26]:
#Find average price per person
clean_df = purchase_data.drop_duplicates(subset='SN', keep='first')
group2 = clean_df.groupby(['Gender'])

In [27]:
avg_ppp = (grouped_df["Price"].sum() / group2["Age"].count())

In [28]:
#Display the summary in a data frame
#.map() method used to manipulate pandas Series

summary_df4 = pd.DataFrame({
    'Purchase Count': count,
    'Average Purchase Price': price,
    'Total Purchase Value': total,
    'Avg Total Purchase per Person': avg_ppp})

#Apply formatting
summary_df4['Average Purchase Price'] = summary_df4['Average Purchase Price'].map('${:.2f}'.format)
summary_df4['Total Purchase Value'] = summary_df4['Total Purchase Value'].map('${:,.2f}'.format)
summary_df4['Avg Total Purchase per Person'] = summary_df4['Avg Total Purchase per Person'].map('${:.3}'.format)

summary_df4.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

Part 5 - Age Demographics: Establish BINS for ages. Categorize the existing players using the age bins (i.e. use pd.cut() method). Calculate the numbers and percentages by age group and create a summary data frame to hold the reults.

In [29]:
# purchase_data.drop_duplicates(subset='SN', keep='first')

In [30]:
#Create the bins in which age data will be held
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 200]
# bins = [0, 10, 15, 20, 25, 30, 35, 40, 200]
group_names = ["<10", "10-14",  "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [31]:
purchase_data["Age Count"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)

In [32]:
group_age = purchase_data.groupby("Age Count")

In [33]:
age_total_count = group_age["SN"].nunique()

In [34]:
#Calculate total numbers and percentages by age group
age_ppp2 = age_total_count / counts *100

In [35]:
#Create a summary data frame to hold the results
sum_dict = {
    "Total Count": age_total_count,
    "Percentage of Players": age_ppp2}

agedem_df = pd.DataFrame(sum_dict)
#Apply formatting
agedem_df['Percentage of Players'] = agedem_df['Percentage of Players'].map('{:,.2f}%'.format)
agedem_df

           Total Count Percentage of Players
Age Count
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

Part 6 - Purchasing Analysis (Age): BIN the purchase_data frame by age. Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total person person, etc.
Create a summary data frame to hold reults and format.

In [36]:
#Call on the bins already created in "Part 5 - Age Demographics" for analysis
#Rename colume to "Age Ranges"
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)

In [37]:
#Calculate the total purchase count for each age range
purch_count = group_age["Age"].count()

In [38]:
#Calculate the total purchase value for each age range
total_pv = group_age["Price"].sum()

In [39]:
#Calculate the average purchase price for each age range
avg_pprice = group_age["Price"].mean()

In [40]:
#Calculate average total purchase per person
#Sum grouped data at column 'Price' and divide by total count of players (no duplicates)
avg_ppp3 = (group_age["Price"].sum() / age_total_count)

In [41]:
#Display the summary in a data frame and format
dict_sum1 = {
    'Purchase Count': purch_count,
    'Average Purchase Price': avg_pprice,
    'Total Purchase Value': total_pv,
    'Avg Total Purchase per Person': avg_ppp3}
summary_df5 = pd.DataFrame(dict_sum1)
summary_df5.head()

# #Apply formatting
summary_df5['Average Purchase Price'] = summary_df5['Average Purchase Price'].map('${:.3}'.format)
summary_df5['Total Purchase Value'] = summary_df5['Total Purchase Value'].map('${:,.2f}'.format)
summary_df5['Avg Total Purchase per Person'] = summary_df5['Avg Total Purchase per Person'].map('${:.3}'.format)

summary_df5.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Count,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.9,$293.00,$3.81

Part 7 - Top Spenders: Run basic calculations to obtain the resutls of purchase count, average purchase price, and total purchase value by top spenders. SORT the total purchase value column in descending order. Display a summary data frame and format.

In [42]:
#Use groupby method on SN
sn_grouped = purchase_data.groupby(['SN'])

In [43]:
#Determine the count of total purchases made by each user
snp_count = sn_grouped["SN"].count()

In [44]:
#Calculate the average purchase price of each user
sn_avg = sn_grouped["Price"].mean()

In [45]:
#Calculate the total purchase value of each user
sn_total = sn_grouped["Price"].sum()

In [46]:
#Place all of the data found into a summary DataFrame
data7 = {
    'Purchase Count': snp_count,
    'Average Purchase Price': sn_avg,
    'Total Purchase Value': sn_total}

summary_df7 = pd.DataFrame(data7)
summary_df7.sort_values(by="Total Purchase Value", inplace=True, ascending=False)
summary_df7.head()

#Apply formatting
summary_df7['Average Purchase Price'] = summary_df7['Average Purchase Price'].map('${:.2f}'.format)
summary_df7['Total Purchase Value'] = summary_df7['Total Purchase Value'].map('${:,.2f}'.format)

summary_df7.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

Part 8 - Most Popular Items: Retrieve the Item ID, Item Name, and Item Price columns. Group by Items ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value. Create a summary data frame and format, ensuring 'Purchase Count' column is in descending order.

In [47]:
#Review columns in original data frame
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Count', 'Age Ranges'],
      dtype='object')

In [48]:
#Retrieve the following columns from original data frame: 'Item ID', 'Item Name', 'Price'
reduce_data = purchase_data.loc[:, ['Item ID', 'Item Name', 'Price']]

In [49]:
#Use the groupby method on 'Item ID' and 'Item Name'
itemidname_group = reduce_data.groupby(['Item ID', 'Item Name'])

In [50]:
popi_count = itemidname_group['Item ID'].count()

In [51]:
popi_price = itemidname_group['Price'].mean()

In [52]:
popi_total = itemidname_group['Price'].sum()

In [53]:
#Place all of the data found into a summary DataFrame
data8 = {
    'Purchase Count': popi_count,
    'Item Price': popi_price,
    'Total Purchase Value': popi_total}

summary_df8 = pd.DataFrame(data8)
summary_df8.sort_values(by="Purchase Count", inplace=True, ascending=False)

#Apply formatting
summary_df8['Item Price'] = summary_df8['Item Price'].map('${:.2f}'.format)
summary_df8['Total Purchase Value'] = summary_df8['Total Purchase Value'].map('${:,.2f}'.format)

summary_df8.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

Part 9 - Most Profitable Items: Sort the table from 'Part 8' by 'Total Purchase Value' in descending order.

In [54]:
#Display most profitable items by formatting 'Total Purchase Value' in descending order
data8 = {
    'Purchase Count': popi_count,
    'Item Price': popi_price,
    'Total Purchase Value': popi_total}

summary_df8 = pd.DataFrame(data8)
summary_df8.sort_values(by="Total Purchase Value", inplace=True, ascending=False)

#Apply formatting
summary_df8['Item Price'] = summary_df8['Item Price'].map('${:.2f}'.format)
summary_df8['Total Purchase Value'] = summary_df8['Total Purchase Value'].map('${:,.2f}'.format)
summary_df8.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

Written Report:

For the Heroes of Pymoli data above, majority of players at 84.03% are male whereas female players make up 14.06% and Other/Non-