In [1]:
import pandas as pd

In [2]:
file_path = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#For purchase analysis, must use groupby method
grouped_df = purchase_data.groupby(['Gender'])

In [6]:
#Determine data calculations with groupby method
count = grouped_df["SN"].count()
count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [44]:
count.get_group('Male')

AttributeError: 'Series' object has no attribute 'get_group'

In [7]:
price = grouped_df["Price"].mean()
price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [10]:
total = grouped_df["Price"].sum()
total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [16]:
#Find average price per person
clean_df = purchase_data.drop_duplicates(subset='SN', keep='first')

In [18]:
group2 = clean_df.groupby(['Gender'])

In [25]:
avg_ppp = (grouped_df["Price"].sum() / group2["SN"].count())
avg_ppp

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [38]:
#Place all of the purchasing analysis (gender) into a summary DataFrame
# dict2 = {
#     'Purchase Count': [count],
#     'Average Purchase Price': [price],
#     'Total Purchase Value': [total],
#     'Avg Total Purchase per Person': [avg_ppp]}

# summary4 = pd.DataFrame(dict2)
# summary4
# # summary4
# # format_dict = {'Purchase Count':'${0:,.2f}', 
# #                'Average Purchase Price': '${:,.2f}',
# #                'Total Purchase Value':'${:,.2f}',
# #                'Avg Total Purchase per Person':'${:,.2f}'}
# # summary4.style.format(format_dict)
summary4 = pd.DataFrame(columns=['Purchase Count', 
                                 'Average Purchase Price',
                                 'Total Purchase Value',
                                 'Avg Total Purchase per Person'],
                                  index = ['Gender', 
                                           'Female',
                                           'Male',
                                           'Other/Non-disclosed'])
summary4.loc['Male'] = pd.Series({
    'Purchase Count': count,
    'Average Purchase Price': price,
    'Total Purchase Value': total,
    'Avg Total Purchase per Person': avg_ppp})
# summary4.loc['Gender'] = pd.Series({
#     'Purchase Count': _,
#     'Average Purchase Price': _,
#     'Total Purchase Value': _})
#     'Avg Total Purchase per Person': avg_ppp})
summary4.loc['Female'] = pd.Series({
    'Purchase Count': count,
    'Average Purchase Price': price,
    'Total Purchase Value': total,
    'Avg Total Purchase per Person': avg_ppp})
summary4.loc['Other/Non-disclosed'] = pd.Series({
    'Purchase Count': count,
    'Average Purchase Price': price,
    'Total Purchase Value': total,
    'Avg Total Purchase per Person': avg_ppp})
summary4
# format2 = {'Purchase Count': '{:,.0f}', 'Average Purchase Price': '${:,.2f}',
#            'Total Purchase Value': '${:,.2f}', 'Avg Total Purchase per Person':'${:,.2f}'}
# format3 = summary4.style.format(format2)
# format3

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,NaN,NaN,NaN,NaN
Female,Gender Female 113 Male ...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...,Gender Female 4.468395 Male ...
Male,Gender Female 113 Male ...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...,Gender Female 4.468395 Male ...
Other/Non-disclosed,Gender Female 113 Male ...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...,Gender Female 4.468395 Male ...